body {
    font-family: Open Sans, sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
.header-container {
    margin: auto;

    & > h1 {
        text-align: center;
        margin: 20px 0;
    }
}
.question-container {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    padding: 20px 20px;
    border-radius: 10px;
    border: 2px solid lightslategray;

    &:not(:first-of-type) {
        margin-top: 20px;
    }

    & > p {
        color: green;
        font-size: 13px;
    }

    & > .question-desc {
        margin-top: 20px;

        & > a {
            font-weight: bold;
            text-decoration: none;
        }

        & > div > button {
            border: 1px solid green;
            padding: 10px 15px;
            color: #fff;
            background-color: green;
            border-radius: 5px;
            cursor: pointer;
        }

        display: flex;
        justify-content: space-between;
    }

    & > .don-see {
        display: flex;
        align-items: center;
        font-size: 10px;
        color: red;
        margin-top: 10px;

        span {
            margin-right: 10px;
        }
    }

    .disable {
        pointer-events: none;
        opacity: 0.5;
    }
}
